
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background-color: #dadada;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f1111;
    padding: 10px 20px;
    color: #ffffff;
}

.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #cccccc;
    cursor: pointer;
}

.nav-country h1{
    color: #ffffff;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #ffffff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: hsl(46, 100%, 65%);
    border-radius: 0 4px 4px 0;
}

.nav-search-icon:hover{
    background-color: hsl(46, 100%, 55%);
    cursor: pointer;
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.nav-text{
    margin-left: 15px;
    cursor: pointer;

}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
